<!doctype html>
<html lang="zh-cn">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>椰留香</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="header ">
    <div class="navbar-top bg-light">
        <div class="container-fluid">
        </div>
    </div>


    <div class="navbar-main">
        <div class="container navbar-container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="logo">
                    <a class="navbar-brand main-logo" href="/"></a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto float-right">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">产品展厅</a>
                        </li>
                        <li class="nav-item dropdown-son">
                            <a class="nav-link dropdown-toggle" href="/">
                                椰汁技术
                            </a>
                            <div class="dropdown-menu-wrapper">
                                <div class="container">
                                    <div class="row dropdown-menu-list">
                                        <div class="col"><a class="dropdown-item" href="/">干榨椰子汁</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">烘烤椰子汁</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown-son">
                            <a class="nav-link dropdown-toggle" href="/">
                                在线商城
                            </a>
                            <div class="dropdown-menu-wrapper">
                                <div class="container">
                                    <div class="row dropdown-menu-list">
                                        <div class="col">
                                            <a class="dropdown-menu-item" href="/" title="天猫商城">
                                                <img src="/static/img/logo/tianmaologo.png" alt="天猫商城">

                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-menu-item" href="/" title="京东">
                                                <img src="/static/img/logo/jdlogo.png" alt="京东">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-menu-item" href="/" title="苏宁易购">
                                                <img src="/static/img/logo/suninglogo.png" alt="苏宁易购">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="dropdown-menu-item" href="/" title="微信商城">
                                                <img src="/static/img/logo/weixinlogo.jpg" alt="微信商城">
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/">新闻中心</a>
                        </li>
                        <li class="nav-item dropdown-son">
                            <a class="nav-link dropdown-toggle" href="/">
                                营销中心
                            </a>
                            <div class="dropdown-menu-wrapper">
                                <div class="container">
                                    <div class="row dropdown-menu-list">

                                        <div class="col"><a class="dropdown-item" href="/">市场活动</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">创意广告</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">合作共创</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">客户服务</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li class="nav-item dropdown-son">
                            <a class="nav-link dropdown-toggle" href="/">
                                关于我们
                            </a>
                            <div class="dropdown-menu-wrapper">
                                <div class="container">
                                    <div class="row dropdown-menu-list">
                                        <div class="col"><a class="dropdown-item" href="/">公司简介</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">企业文化</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">发展历程</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">荣誉奖项</a></div>
                                        <div class="col"><a class="dropdown-item" href="/">联系我们</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<main class="main-content">
    <section class="main-banner">
        <div class="banner owl-carousel owl-theme">
            <div class="item"><img src="/static/img/banner/banner01.jpeg" alt=""></div>
            <div class="item"><img src="/static/img/banner/banner02.jpeg" alt=""></div>
            <div class="item"><img src="/static/img/banner/banner03.jpeg" alt=""></div>
        </div>
    </section>


</main>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-2">
                    <h5>关于我们</h5>
                    <ul class="footer-widget">
                        <li><a href="/">公司简介</a></li>
                        <li><a href="/">企业文化</a></li>
                        <li><a href="/">发展历程</a></li>
                        <li><a href="/">荣誉奖项</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>合作共赢</h5>
                    <ul class="footer-widget">
                        <li><a href="/">市场活动</a></li>
                        <li><a href="/">合作共创</a></li>
                        <li><a href="/">客户服务</a></li>
                        <li><a href="/">加入我们</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5>联系我们</h5>
                    <ul class="footer-widget">
                        <li>工作时间：周一到周五(除节假日) 9:00 ~ 17:00</li>
                        <li>联系电话：<a href="tel:400-883-8613">400-883-8613</a></li>
                        <li>联系邮箱：<a href="mailto:main@yeliuxiangdev.com">main@yeliuxiangdev.com</a></li>
                        <li>公司地址：<a href="">广东省东莞市南城街道白马社区黄金路一号天安数码城C1栋1103号</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>关注我们</h5>
                    <div class="row qrcode">
                        <div class="col-md-6">
                            <h6>微信：椰留香饮品</h6>
                            <img class="qrcode-img" src="/static/img/QRCode/weixin.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h6>微博：<a href="">@椰留香饮品</a></h6>
                            <img class="qrcode-img" src="/static/img/QRCode/weibe.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>
                <a href="http://www.beian.gov.cn" rel="nofollow">
                    <img src="/static/img/sign/policenet.png">
                    粤公安网备 00000000000001号</a> - <a href="http://www.miitbeian.gov.cn" rel="nofollow">粤ICP备00000000号</a>
                <a href="" rel="nofollow">工商营业执照和食品经营许可证</a>
            </p>
            <p>Copyright © <a
                    href="http://www.gsxt.gov.cn/%7B46E0E9D62186185BCDF243E472F5A4536C401680270B8CB1B81FE8D7FB79B887361A9DA0A90E581BEF185BAFF9481EB96A9F86B77756747A5B425A5475703C603C8A3C8A3CFD3CDBE6F6F413A502B4816676D1E452E452F563D563D572C482348E38F94FE95F6A5FD4F00D5CDE33920483D2A110E771D8EDD85343D385C6326448198F2613A513A513A5-1538019295748%7D"
                    rel="nofollow">广东椰留香饮品有限公司</a> All Rights Reserved. </p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.fancybox.min.js"></script>

<script src="/static/js/reload.min.js"></script>


<script type="text/javascript">
    var owl_banner = $('.main-banner .banner.owl-carousel');
    owl_banner.owlCarousel({
        items: 1,
        loop: true,
        nav: true,
        navText: ['<span class="fa fa-chevron-left"></span>', '<span class="fa fa-chevron-right"></span>'],
        autoplay: true,
        autoplayTimeout: 5000,
    });
</script>
</body>
</html>